PORT=3001
CLIENT_ORIGIN=*

ADMIN_ROUTE_TOKEN=roniforms-cambiar-por-un-token-muy-largo-y-aleatorio
CRON_SECRET=cambiar-por-otro-secreto-largo

BCV_USD_API_URL=https://ve.dolarapi.com/v1/dolares/oficial
BCV_EUR_API_URL=https://ve.dolarapi.com/v1/euros/oficial

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=product-images
